h3.green { color: #4A9586; }
h3.purple { color: #583759; }
h3.graywolf { color: #504A4B; }
h3.ashgray { color: #6D6968; }
h3.gray { color: #726E6D; }
h3.slateblue { color: #0041C2; }
h3.darkslateblue { color: #2B3856; }
h3.blue { color: #151B8D; }
h3.bluelotus { color: #6960EC; }
h3.bluekoi { color: #659EC7; }
h3.maroon { color: #810541; }
h4.darkorchid { color: #7D1B7E; }
h4.yellow { color: #F5DA81; }
h4.gray { color: #726E6D; }
h4.slategray { color: #25383C; }
h4.slateblue { color: #2B3856; }
h4.maroon { color: #810541; }
div.maroon6 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 30px; color: #810541;}
span.gray6 { font-family: 'Source Sans Pro', sans-serif; font-size: 30px; color: #6D6968;}

div.code { font-size: 25px;}

table.story { border: 0px; }
td.story { vertical-align: top; padding: 0px; }

